@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
body {
  margin: 0;
}
.container {
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: #f8e9ec;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: brown;
}

.login-box input {
  margin: 10px;
  width: auto;
  height: 25px;
  cursor: pointer;
  color: blue;
}

.login-box .bottom {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: rgb(67, 67, 117);
  cursor: pointer;
}

.login-box label {
  display: inline-block;
  width: 100px;
}

.login-box .bottom :hover {
  color: coral;
  transform: scale(1.1);
}

* {
  font-family: "PT Sans", sans-serif;
  letter-spacing: 1.1px;
}

.login-box .submitbutton {
  height: 30px;
  background-color: #f76077;
  color: white;
  border: 0;
  width: 93%;
}
